{% extends 'base.html' %}
{% block content %}

<h1>New Store</h1>

<form method="POST">
    <fieldset>
        <legend>Please enter your information:</legend>
            {{ form.csrf_token }}
            {{ form.title.label }}
            {{ form.title }}
            {% for error in form.title.errors %}
                <ul>
                    <li class="error">{{ error }}</li>
                </ul>
            {% endfor %}

            {{ form.address.label }}
            {{ form.address }}
            {% for error in form.address.errors %}
                <ul>
                    <li class="error">{{ error }}</li>
                </ul>
            {% endfor %}
        <input type="submit" value="Submit">
    </fieldset>
</form>


{% endblock %}
